<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>116</integer>
		<key>y</key>
		<integer>342</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>243</integer>
		<key>y</key>
		<integer>403</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>118</integer>
		<key>y</key>
		<integer>207</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>326</integer>
		<key>y</key>
		<integer>257</integer>
	</dict>
    <dict>
		<key>x</key> 
		<integer>550</integer>
		<key>y</key>
		<integer>384</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>541</integer>
		<key>y</key>
		<integer>198</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>665</integer>
		<key>y</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>880</integer>
		<key>y</key>
		<integer>130</integer>
	</dict>
    <dict>
		<key>x</key> 
		<integer>768</integer>
		<key>y</key>
		<integer>231</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1112</integer>
		<key>y</key>
		<integer>405</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>822</integer>
		<key>y</key>
		<integer>447</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>740</integer>
		<key>y</key>
		<integer>140</integer>
	</dict>
</array>
</plist>
