<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>x</key>
		<integer>230</integer>
		<key>y</key>
		<integer>150</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>800</integer>
		<key>y</key>
		<integer>320</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>40</integer>
		<key>y</key>
		<integer>340</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>600</integer>
		<key>y</key>
		<integer>320</integer>
	</dict>
    <dict>
		<key>x</key> 
		<integer>416</integer>
		<key>y</key>
		<integer>434</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>330</integer>
		<key>y</key>
		<integer>230</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>455</integer>
		<key>y</key>
		<integer>120</integer>
	</dict>
	<dict>
		<key>x</key> 
		<integer>900</integer>
		<key>y</key>
		<integer>120</integer>
	</dict>
    <dict>
		<key>x</key> 
		<integer>960</integer>
		<key>y</key>
		<integer>316</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>730</integer>
		<key>y</key>
		<integer>117</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>1140</integer>
		<key>y</key>
		<integer>200</integer>
	</dict>
	<dict>
		<key>x</key>
		<integer>740</integer>
		<key>y</key>
		<integer>140</integer>
	</dict>
</array>
</plist>
